/* .row {
    margin-bottom: 30px;
    padding-bottom: 30px;
} */

.scores {
    margin-bottom: 10px;
}

.amount {
    border-style: dotted;
    padding: 10px;
    border-radius: 50%;
    border-color: #906078;
    
}

.jumbotron {
    background-image: url(../images/N8M_banner_temp.jpg);
    background-size: cover;
    height: 20%;
    opacity: 0.6;
    /* background-repeat: no-repeat; */
    
}

.mainheader,.lead {
    color: aliceblue
}

.out {
    /* background-image: url(../images/80sbg.jpg);
    opacity: 0.3; */

}

.cont {
    border-style: dotted;
    border-color: #484860;
   /* margin: 2px; */
   
}

.card {
    border-color: #906078;
    margin-bottom: 30px;
}

.card-header {
    border-color: #906078;
    background-color: #906078;
    color: aliceblue;
}

#button {
    border-color: #906078;
    background-color: #906078;
}